<ion-header>
  <ion-toolbar>
    <ion-title>Información de {{data.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <img src={{data.fotosJugadores[0]}} width=100px height=100px>
      <ion-card-title>{{data.jugadores[0]}}</ion-card-title>
    </ion-card>
    <ion-card>
      <img src={{data.fotosJugadores[1]}} width=100px height=100px>
      <ion-card-title>{{data.jugadores[1]}}</ion-card-title>
      
    </ion-card>
    <ion-card>
      <img src={{data.fotosJugadores[2]}} width=100px height=100px>
      <ion-card-title>{{data.jugadores[2]}}</ion-card-title>
    </ion-card>
    <ion-card>
      <img src={{data.fotosJugadores[3]}} width=100px height=100px>
      <ion-card-title>{{data.jugadores[3]}}</ion-card-title>
    </ion-card>
    <ion-card>
      <img src={{data.fotosJugadores[4]}} width=100px height=100px>
      <ion-card-title>{{data.jugadores[4]}}</ion-card-title>
    </ion-card>
  </ion-list>
</ion-content>
