<ion-header [translucent]="true" >
  <ion-toolbar style="background-color:midnightblue"> 
    <ion-title>
      Parcial 01
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
   <ion-list *ngFor="let equipo of equipos">
     {{equipo.nombre}}

   </ion-list>
   <ion-list *ngFor="let jugador of jugadores">
    {{jugador.nombre}} {{jugador.apellidos}}
    <img src={{jugador.foto}}>

  </ion-list>
  <ion-list *ngFor="let resultado of resultados">
    {{resultado.equipo1_id}} vs {{resultado.equipo2_id}}

  </ion-list>
</ion-content>
